= render "nav/main_static"

.container
  %h2 Sign up

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!

    %div 
      = f.label :email
      = f.email_field :email

    %div 
      = f.label :password
      = f.password_field :password

    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    = f.fields_for :parent do |parent_form|
      %div
        = parent_form.label :name
        = parent_form.text_field :name

    %div
      = f.submit "Sign up"

  = render "devise/shared/links"
